<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1><%= title %></h1>
    <p>This is an example boilerplate using HTML5 Boilerplate with Bootstap and Harp. Harp can pre-compile LESS so we use the LESS version of Twitter Bootstrap.</p>
    <p><a class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-lg-12">
      <p>This is a Port of HTML5 Boilerplate to Harp and makes use of many of Harps features</p>
      <ul>
        <li>Templates with EJS and Jade</li>
        <li>Partials and Layouts</li>
        <li>Flexible Meta Data</li>
        <li>Custom 404 Page</li>
        <li>Pre-compiling LESS</li>
      </ul>
    </div>
  </div>

  <!-- Example row of columns -->
  <div class="row">
    <div class="col-lg-4">
      <%- partial("_shared/blurb") %>
    </div>
    <div class="col-lg-4">
      <%- partial("_shared/blurb") %>  
   </div>
    <div class="col-lg-4">
      <%- partial("_shared/blurb") %>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; Company 2013</p>
  </footer>
</div>